body {
    margin: 0;
    padding: 0;
    background-color: #D4EDFD;
}

header {
    border-bottom: 1px solid #000;
    height: auto;
    width: 100%;
    background-color: #87cefa;
    position: fixed;
    font-size: 20px;
}
.navbar {
    display: flex;
    align-items: center;
    list-style: none;
    justify-content: space-between;
    padding: 10px;
}
.nav {
    display: flex; 
    flex-direction: row;
    justify-content: end; 
    align-items: center; 
    padding: 10px;
    gap: 20px;
}
.nav a {
    text-decoration: none;
}

.nav li {
    transition: all 0.3s ease;
}

.nav li:hover {
    transform: scale(1.1);
}

.container {
    /* position: relative; */
    /* background-image: url("https://t3.ftcdn.net/jpg/02/67/41/92/360_F_267419250_9gREbogaClCCDFazT92ESF5aTh7XA269.jpg"); */
    /* background-repeat: no-repeat; */
    /* background-size: cover; */
    /* background-position: center; */
    display: flex;
    flex-direction: column;
    background: #FFFFFF;
    width: 600px;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    border: 2px solid black;
    padding: 20px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}

.input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    overflow-y: auto;
}

.container button {
    width: 244px;
    height: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: #D4EDFD;
    color: black;
    outline: none;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 10px;
    transition: all background-color 0.3s ease;
    margin-right: 5px;
    margin-left: 10px;
    margin-bottom: 20px;
}

.container button:hover { 
    transform: scale(1.1);   
    background-color: #3999d4;
}

.container input {
    width: 300px;
    height: 25px;
    border: 2px solid black;
    border-radius: 5px;
}

.container select {
    width: 300px;
    height: 25px;
    border: 2px solid black;
    border-radius: 5px;
}

.titulo {
    color: black;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: 10px;
}
  
.titulo2 {
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 5px;
    left: 0;
}

