body {
    margin: 0;
    padding: 0;
    background-color:#D4EDFD;
}
html {
    scroll-behavior: smooth;
}

header {
    border-bottom: 1px solid #000;
    height: auto;
    width: 100%;
    background-color: #87cefa;
    position: fixed;
    font-size: 20px;
}
.navbar {
    display: flex;
    align-items: center;
    list-style: none;
    justify-content: space-between;
    padding: 10px;
}
.nav {
    display: flex; 
    flex-direction: row;
    justify-content: end; 
    align-items: center; 
    padding: 10px;
    gap: 20px;
}
.nav a {
    text-decoration: none;
}

.nav li {
    transition: all 0.3s ease;
}

.nav li:hover {
    transform: scale(1.1);
}

.logo {
    display: flex;
}

.imgLogo {
    background-color:#D4EDFD;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    /* border-radius: 25px; */
}

.imgLogo img {
    border: 2px solid black;
    border-radius: 15px;
}

.quiz {
    display: flex;
    align-items: center;
    justify-content: center;
}

.quizM {
    background-color: #87cefa;
    width: 500px;
    padding: 5px;
    border: 2px solid gray;
    border-radius: 5px;
}

.quiz button {
    background-color: #D4EDFD;
    width: 300px;
    height: 50px;
    border-radius: 15px;
    font-size: 20px;
    transition: all background-color 0.3s ease;
}

.quiz button:hover {
    transform: scale(1.1);
    background-color: #3999d4;
}

.quiz button a {
    text-decoration: none;
}

.tema {
    font-size: 40px;
    background-color: #87cefa;
    height: 500px;
}

.info {
    display: flex;
    background-color:#FFFFFF;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
    margin: 50px;
    border-radius: 50px;
}

.card1 {
    /* transition: opacity 1s ease-out;
    opacity: 0;
    height: 0;
    overflow: hidden; */
    height: 300px;
    width: 200px;
    flex-direction: column;
    justify-content: end;
    text-align: center;
    font-size: 23px;
    border-radius: 15px;
    background-image: url('https://i.pinimg.com/originals/02/7f/82/027f8203453c31ae95a10bfee7dd62d2.png');
    background-size: 100%;
    background-position: bottom;
    background-repeat: no-repeat;
    background: linear-gradient(to top, #87cefa, rgba(255, 122, 89,0));
}

/* .card1.show {
    opacity: 1;
    height: auto;
} */

.card2 {
    /* transition: opacity 1s ease-out;
    opacity: 0;
    height: 0;
    overflow: hidden; */
    height: 300px;
    width: 200px;
    background-color:#87cefa;
    text-align: center;
    font-size: 25px;
    border-radius: 15px;
    background: linear-gradient(to top, #87cefa, rgba(255, 122, 89,0));
}

.card3 {
    /* transition: opacity 1s ease-out;
    opacity: 0;
    height: 0;
    overflow: hidden; */
    height: 300px;
    width: 200px;
    background-color:#87cefa;
    text-align: center;
    font-size: 25px;
    border-radius: 15px;
    background: linear-gradient(to top, #87cefa, rgba(255, 122, 89,0));
}

.criador {
    font-size: 40px;
    background-color: #D4EDFD;
}

.cria {
    display: flex;
    justify-content: space-around;
}

.textC {
    font-size: 25px;
    text-align: start;
    width: 50%;
}

.imgCriador {
    background-color: #87cefa;
    border-radius: 15px;
    width: 50%;
    padding: 50px;
    margin: 20px;
}

.imgCriador img {
    border-radius: 15px;
    border: 2px solid black;
    transition: all 0.3s ease;
}

.imgCriador img:hover {
    transform: scale(1.1);
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #87cefa;
}